:root {
  --monokai-blue-light: #89BDFF;
  --monokai-gray: #595959;
  --monokai-gray-darker: #383830;
  --monokai-gray-darkest: #141411;
  --monokai-gray-lightest: #595959;
  --monokai-gray-light: #E6E6E6;
  --monokai-green: #A6E22A;
  --monokai-green-light: #A6E22E;
  --monokai-grey-dark: #272822;
  --monokai-magenta: #F92672;
  --monokai-purple: #AE81FF;
  --monokai-purple-light: #FD5FF1;
  --monokai-yellow: #E6DB74;
  --monokai-yellow-dark: #75715E;
  --monokai-yellow-light: #F8F8F2;
}

body {
  color: var(--monokai-magenta);
  background: var(--monokai-gray-darkest);
}
